@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Condensed:ital,wght@0,400..700;1,400..700&display=swap');
* {
font-family: "Libre Caslon Condensed", "Arial", "helvetica", "sans-serif";
}


h1 {
    color: red
}
h2 {
    color: orange
}
li {
    color: blue
}


p:hover {
    color: green;
    text-decoration: underline;
}


.batx {
    color: black;
    font-weight: bold;
}


#hab {
    color: black;
    font-weight: bold;
}

#habi > li {
    color: green;
    font-weight: bold;
}